<!DOCTYPE html>
<html lang="ua">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/services.css">
	<title>Invest | Course Work</title>
</head>

<body>
	<div class="wrapper">
		<header class="header">
			<div class="header__container">
				<div class="header__body">
					<a href="/" class="header__logo">
						<img src="/images/logo.svg" alt="logo">
					</a>
					<nav class="header__menu menu">
						<ul class="menu__list">
							<li class="menu__item">
								<a href="/" class="menu__link">Компанія</a>
							</li>
							<li class="menu__item">
								<a href="/services" class="menu__link">Наші послуги</a>
							</li>
						</ul>
					</nav>
					<div class="header__actions">
						<a href="/orders" class="header__profile">
							<img src="/images/icons/user.svg" alt="user icon">
						</a>
					</div>
				</div>
			</div>
		</header>
		<main class="main">
			<section class="trading section">
				<div class="trading__image section__image">
					<img src="/images/trading.jpg" alt="trading image">
				</div>
				<div class="section__descr">
					<h2 class="section__title">Торгівельні операції</h2>
					<button type="button" class="section__btn" data-modal-open="trading">
						дізнатися більше
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</button>
				</div>
				<div class="overlay">
					<div data-modal="trading" class="modal">
						<h3 class="modal__title">
							<span>ProInvest</span> - Динаміка Фінансового Росту
						</h3>
						<p class="modal__text">У нас ви знаходитесь на першому ряду фінансових інновацій. Наша послуга
							"<span>Торгівельні Операції</span>" дозволяє вам активно брати участь у роботі на фінансовому
							ринку. З нами ви зможете використовувати передові стратегії, отримувати реальний час аналіз та
							максимізувати свій фінансовий потенціал. ProInvest - ваш провідник у світі динамічних торгівельних
							можливостей.</p>
						<button type="button" class="modal__close">
							<img src="/images/icons/close-modal.svg" alt="close modal icon">
						</button>
					</div>
				</div>
			</section>
			<section class="investment section section--reverse">
				<div class="section__image">
					<img src="/images/invest.jpg" alt="invest image">
				</div>
				<div class="section__descr">
					<h2 class="section__title">Інвестаційний банкінг</h2>
					<button type="button" class="section__btn" data-modal-open="investment">
						дізнатися більше
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</button>
				</div>
				<div class="overlay">
					<div data-modal="investment" class="modal">
						<h3 class="modal__title">
							<span>ProInvest</span> - Ваш Інвестиційний Співпутник
						</h3>
						<p class="modal__text">З ProInvest інвестування стає легким та ефективним. Наш Інвестиційний Банкінг
							пропонує широкий спектр фінансових послуг для ваших інвестиційних потреб. Ви отримаєте доступ до
							персонального підходу, інноваційних рішень та надійного партнерства на шляху до вашого фінансового
							успіху.</p>
						<button type="button" class="modal__close">
							<img src="/images/icons/close-modal.svg" alt="close modal icon">
						</button>
					</div>
				</div>
			</section>
			<section class="analytics section">
				<div class="section__image">
					<img src="/images/analytics.jpg" alt="analytics image">
				</div>
				<div class="section__descr">
					<h2 class="section__title">Аналітика</h2>
					<button type="button" class="section__btn" data-modal-open="analytics">
						дізнатися більше
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</button>
				</div>
				<div class="overlay">
					<div data-modal="analytics" class="modal">
						<h3 class="modal__title">
							<span>ProInvest</span> - Глибокий Аналіз для Сміливих Рішень
						</h3>
						<p class="modal__text">З ProInvest ви отримуєте доступ до високоякісного аналітичного покриття, яке
							стане основою для вашого успішного фінансового майбутнього. Наша аналітична команда, заслужено
							нагороджена, надає комплексний огляд ринку та стратегії, що допоможуть вам приймати обдумані
							рішення.</p>
						<button type="button" class="modal__close">
							<img src="/images/icons/close-modal.svg" alt="close modal icon">
						</button>
					</div>
				</div>
			</section>
			<section class="investment section section--reverse">
				<div class="section__image">
					<img src="/images/invest.jpg" alt="invest image">
				</div>
				<div class="section__descr">
					<h2 class="section__title">Прямі інвестиціі</h2>
					<button type="button" class="section__btn" data-modal-open="investment-direct">
						дізнатися більше
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</button>
				</div>
				<div class="overlay">
					<div data-modal="investment-direct" class="modal">
						<h3 class="modal__title">
							<span>ProInvest</span> - Робіть Кроки у Майбутнє З Нами
						</h3>
						<p class="modal__text">Простий та прозорий шлях до прямих інвестицій - з ProInvest. Ми пропонуємо вам
							можливість вкладати гроші в перспективні активи та проекти. З нами ви забезпечите стабільність та
							диверсифікацію вашого портфеля, роблячи перші кроки у світі успішних інвестицій.
						</p>
						<button type="button" class="modal__close">
							<img src="/images/icons/close-modal.svg" alt="close modal icon">
						</button>
					</div>
				</div>
			</section>
			<section id="callback" class="callback">
				<div class="callback__container">
					<div class="callback__body">
						<h2 class="callback__title">Ми вам зателефонуємо</h2>
						<% if (isAuth && role !== "admin") { %>
							<form action="/services/order" method="POST" class="callback__form">
								<input type="text" name="firstName" class="callback__input" placeholder="ім’я" value="<%- fields ? fields.firstName : '' %>">
								<input type="tel" name="phone" class="callback__input" placeholder="+38(0__)___ __ __" value="<%- fields ? fields.phoneNumber : '' %>">
								<input type="email" name="email" class="callback__input" placeholder="E-mail" value="<%- fields ? fields.email : '' %>">
								<select name="category" class="callback__select">
									<% if (categories && categories.length) { %>
										<% categories.forEach(type => { %>
											<option value="<%- type %>"><%- type %></option>
										<% }); %> 
									<% }  %>
								</select>
								<textarea name="message" class="callback__textarea" placeholder="Текст звернення"><%- fields ? fields.message : '' %></textarea>
								<button type="submit" class="callback__btn">ВІДПРАВИТИ</button>
							</form>
						<% } else if (role === "admin") { %>
							<div class="callback__auth">
								Вы админ, вам нет необходимости создавать заявки
							</div>
						<% } else { %>
							<div class="callback__auth">
								Для оформлення замовлення необхідно <a href="/login">авторизуватися</a>
							</div>
						<% } %>
					</div>
					<% if (errors && errors.length) { %>
						<div class="services__error-wrapper">
							<% errors.forEach(error => { %>
								<div class="services__error">
									<%= error %>
								</div>
							<% }); %> 
						</div>
					<% }  %>
				</div>
			</section>
		</main>
		<footer class="footer">
			<div class="footer__container">
				<div class="footer__body">
					<div class="footer__years-work">&copy; 2013-2023 ProInvest</div>
					<address class="footer__address">
						м. Одеса, вул. Кришталева, 7, оф. 23
					</address>
					<address class="footer__contacts">
						<a href="tel:+380631234567" class="footer__phone">+380 63 123 4567</a>
						<a href="mailto:ProInvest@mail.com" class="footer__mail">ProInvest@mail.com</a>
					</address>
				</div>
			</div>
		</footer>
	</div>
	<script src="/js/script.js"></script>
</body>

</html>